<!DOCTYPE html>
<html ng-app="blackRide">
<head>
  <title>Black Ride</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
  <link href="assets/css/app.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/angular-slider-touch/slider.css">
</head>
<body>

  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-slider-touch/slider.js"></script>
  <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
  <script src="bower_components/angular-google-plus/dist/angular-google-plus.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  
  <header ng-controller="authController">
    <div class="title"><a href="#"><img src="assets/imgs/blue_logo.png"></a></div>
    <div class="menu">
      <a class="button first hide" href="javascript: void(0)">Sign Up</a>
      <a class="button" href="javascript: void(0)" ng-click="open()">Login</a>
      <a href="javascript: void(0)">
        <button type="button" class="navbar-toggle collapsed menuOpen">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </a>
    </div>
    <script type="text/ng-template" id="modalConfirm.html">
        <div class="modal-header" style="border-bottom: 0px">
            <h3 class="text-center">Sign Up or Login with</h3>
            <br>
            <p class="bold">Some text explaining why you have to sign up and the benefits of doing so.</p>  
        </div>
        <div class="modal-body" style="margin-top: 0px;">
            <div class="social fb" ng-click="fb()">Facebook</div>
            <div class="social linked hide">LinkedIn</div>
            <div class="social gplus" ng-click="g()">Google+</div>
        </div>
        <div class="modal-footer">
          
        </div>
    </script>
  </header>

  <div id="status-buttons" class="text-center">
    <a light="" ui-sref-active="active"  ng-click="$event.preventDefault()" ui-sref="home">
      <span>1</span> Pick Up
      <div class="dotted">-------------</div>
    </a>
    <a light="home" ui-sref-active="active"  ng-click="$event.preventDefault()" ui-sref="time">
      <span>2</span> Time
      <div class="dotted">-------------</div>
    </a>
    <a light="home,time" ui-sref-active="active"  ng-click="$event.preventDefault()" ui-sref="drop">
      <span>3</span> Drop Off
      <div class="dotted">-------------</div>
    </a>
    <a light="home,time,drop" ui-sref-active="active"  ng-click="$event.preventDefault()" ui-sref="driver">
      <span>4</span> Your Diver
      <div class="dotted">-------------</div>
    </a>
    <a light="home,time,drop,driver" ui-sref-active="active"  ng-click="$event.preventDefault()" ui-sref="confirm">
      <span class="glyphicon glyphicon-ok"></span> Confirmation
    </a>
  </div>

  <div>
    <div id="content" class="container">
      <div class="row">
        <div ui-view>
        </div>
      </div>
    </div>
  </div>

  <div id="menu">
      <ul>
        <li><a href="#">Booking</a></li>
        <li><a ui-sref-active="active"  ng-click="$event.preventDefault()" ui-sref="history">My Bookings</a></li>
        <li><a href="#">Payment</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Organizations</a></li>
      </ul>
   </div>  

  <script src="app.js"></script>
  <script src="controllers/homeController.js"></script>
  <script src="controllers/timeController.js"></script>
  <script src="controllers/dropController.js"></script>
  <script src="controllers/driverController.js"></script>
  <script src="controllers/confirmController.js"></script>
  <script src="controllers/historyController.js"></script>
  <script src="controllers/authController.js"></script>
  <script src="factories/quoteFactory.js"></script>
  <script src="factories/apiFactory.js"></script>
  <script src="directives/mainDirectives.js"></script>

</body>
</html>
