<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 filters">
		<div class="col-md-4 text-center">
			<p>Price Range</p>
			<div class="minLabel">{{minPrice}} $</div>
			<div class="maxLabel">{{maxPrice}} $</div>
			<slider floor="10" ceiling="60" ng-model-low="minPrice" ng-model-high="maxPrice"></slider>
		</div>
		<div class="col-md-4 text-center">
			<p>Estimated Time of Arrive</p>
			<div class="minLabel">{{minTime}} min</div>
			<div class="maxLabel">{{maxTime}} min</div>
			<slider floor="10" ceiling="60" ng-model-low="minTime" ng-model-high="maxTime"></slider>
		</div>
		<div class="col-md-4 text-center">
			<p>Rating</p>
			<p>
				<rating 
					ng-model="filterRate" 
					max="max" 
					readonly="isReadonly" 
					on-hover="hoveringOver(value)" 
					on-leave="overStar = null"
					state-on="'star'"
					state-off="'star-gray'"
				></rating>
			</p>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
<div class="row text-center">
	<div class="col-md-4" ng-repeat="driver in drivers">
		<div class="driverItem">
			<img ng-src="{{driver.img}}" alt="">
			<div>
				<span class="name">{{driver.name}}</span><br>
				<span class="model">{{driver.model}}</span>
				<div class="photo"><img ng-src="{{driver.photo}}" alt=""></div><br>
				<div class="stars">
					<rating 
						ng-model="driver.rate" 
						max="max" 
						readonly="isReadonly" 
						on-hover="hoveringOver(value)" 
						on-leave="overStar = null"
						state-on="'star'"
						state-off="'star-gray'"
					></rating>
				</div>
				<span class="time">{{driver.time}} min</span><br>
				<span class="price">{{driver.price}} $</span>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		
	</div>
	<div class="col-md-4">
		
	</div>
</div>