<div class="row">
	<div class="col-xs-12 filtersSwitch text-center" style="display:none">
		<div class="col-xs-6" ng-click="filtersOn=!filtersOn">Filter</div>
		<div class="col-xs-6">
			<span class="glyphicon glyphicon-align-justify menuOpen" bot="81"></span>
		</div>
	</div>
	<div class="col-md-6 col-xs-12 filters" ng-class="{'filtersOn': filtersOn}">
		<div class="col-md-4 col-xs-12 col-sm-6 text-center">
			<p>Price Range</p>
			<div class="minLabel">{{minPrice}} $</div>
			<div class="maxLabel">{{maxPrice}} $</div>
			<slider floor="10" ceiling="60" ng-model-low="minPrice" ng-model-high="maxPrice"></slider>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-6 text-center">
			<p>Estimated Time of Arrive</p>
			<div class="minLabel">{{minTime}} min</div>
			<div class="maxLabel">{{maxTime}} min</div>
			<slider floor="10" ceiling="60" ng-model-low="minTime" ng-model-high="maxTime"></slider>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-12 text-center">
			<p>Rating</p>
			<p>
				<rating 
					ng-model="filterRate" 
					max="max" 
					readonly="isReadonly" 
					state-on="'star'"
					state-off="'star-gray'"
					ng-click="evaluateNoChange(filterRate)"
				></rating>
			</p>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="col-md-4 col-xs-12 col-sm-6 driverWrap entrace-eff" ng-click="open('sm', driver)" ng-repeat="driver in drivers | filter:timeFilter | filter:priceFilter | filter:starFilter">
		<div class="driverItem">
			<img ng-src="{{driver.img}}" alt="">
			<div>
				<span class="name">{{driver.name}}</span><br>
				<span class="model">{{driver.model}}</span>
				<div class="photo"><img ng-src="{{driver.photo}}" alt=""></div><br>
				<div class="stars">
					<rating 
						ng-model="driver.rate" 
						max="max" 
						readonly="isReadonly = true" 
						state-on="'star'"
						state-off="'star-gray'"
					></rating>
				</div>
				<span class="time">{{driver.time}} min</span><br>
				<span class="price">$ {{driver.price}}</span>
			</div>
		</div>
	</div>

	<fa-app ng-if="notAvailable">
		<fa-grid-layout fa-options="myGridLayoutOptions">
			<fa-modifier ng-repeat="driver in drivers"
			fa-size="[100, 100]">
				<fa-surface fa-background-color="'red'">Hello Baby</fa-surface>
			</fa-modifier>
		</fa-grid-layout>
	</fa-app>

	<div class="col-md-4 col-xs-12 col-sm-6">
		
	</div>
	<div class="col-md-4 col-xs-12 col-sm-6">
		
	</div>
</div>
<script type="text/ng-template" id="modalDriver.html">
        <div class="modal-header modalDriverPhoto">
            <img ng-src="{{driver.photo}}" alt="">
        </div>
        <div class="modal-body">
            <p class="nameDriverModal">{{driver.name}}</p>
            <p class="modelDriverModal">{{driver.model}}</p>
            <br>
            <p class="descDriverModal">{{driver.desc}}</p>
            <p class="rateDriverModal"><rating 
					ng-model="driver.rate" 
					max="max = 5" 
					readonly="isReadonly = true" 
					state-on="'star'"
					state-off="'star-gray'"
				></rating></p>
        </div>
        <div class="modal-footer">
        	<p class="nextStep cancelBut" ng-click="cancel()"><a>Cancel</a></p>
            <p class="nextStep nextBut" ng-click="ok()"><a>Next</a></p>
        </div>
    </script>