<div class="stepWrapper small top-margin text-center wrapMobile" ng-show="!map.active">
	<p class="topSpacer normalWeight">Where are you going?</p>
	<p class="addPickup topSpacer" ng-click="map.active=true">
	{{address}}
	</p>
	<p class="nextStep"><a ui-sref="driver">Skip</a></p>
</div>
<div class="stepWrapper big text-center wrapMobile wrap-bottom" ng-if="map.active">
	<input type="text" placeholder="" class="addPickup text-box text-left-imp" ng-model="address" ng-click="sa=true" ng-hide="sa">
	<input type="text" placeholder="Search" class="addPickup text-box text-left-imp" ng-autocomplete="result" details="details" options="options" ng-show="sa" ng-focus="sa">
	<google-map 
		center="map.center" 
		refresh="map.refresh"
		events="map.events"
		zoom="map.zoom"
		control="map.control">
			<markers 
				models="markers" 
				icon="'icon'" 
				coords="'self'" 
				options="'options'"
				control="markersCtr"
				events="markersEvents">
      		</markers>
	</google-map>
</div>
<p class="text-center" ng-if="map.active">Drag the map or write the address in the top bar.</p>