<div class="stepWrapper medium text-center wrapMobile" ng-show="!map.active">
	<div class="row historySearch" style="padding: 20px 11px;">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="form-group">
			    <div class="input-group">
			      <div class="input-group-addon">
			      	<span class="glyphicon glyphicon-search"></span>
			      </div>
			      <input class="form-control timepicketbox" type="email">
			    </div>
			  </div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 text-left" style="padding-top: 6px;">
			<a href="#">Advanced</a>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 text-left" style="padding-top: 6px;"> 
			<span>Sort by <strong>Time</strong></span>
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
	</div>
</div>