<div class="stepWrapper small top-margin text-center wrapMobile">
	<p class="topSpacer normalWeight">WHEN?</p>
  <p class="addPickup" ng-click="showControls=true" ng-show="!showControls">NOW</p>
	<p class="text-center" ng-show="showControls">
		<timepicker 
			ng-model="timeToPick"
			ng-change="changed()"
			show-meridian="ismeridian"
      minute-step="minStep = 5"
		></timepicker>
	</p>
	<div class="input-group date-group" ng-show="showControls">
  <table class="timepicket" ng-mouseover="updateDate()">
  <tr>
    <td>
      <a ng-mousedown="addDays(-1)" style="border-top: 1px solid #fff;border-left: 1px solid #fff;border-bottom: 1px solid #fff;border-radius: 4px 0px 0px 4px;height: 44px;" class="btn btn-link"><span class="glyphicon glyphicon-minus"></span></a>
    </td>
    <td>
      <input
        style="width: 148px !important;text-align: center;font-size: 13px;border-radius:0px;"
      	type="text" 
        show-weeks="false"
      	class="form-control timepicketbox"
      	datepicker-popup="{{format}}" 
      	ng-model="dt" 
        min-date="minDate"
        datepicker-options="dateOptions"
        max-date="'2015-06-22'"
      	is-open="opened"
      	ng-required="true" 
      	close-text="Close"
        show-button-bar="false"
        ng-click="open($event)"/>
      </td>
      <td>
         <a ng-click="addDays(1)" style="border-top: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 1px solid #fff;border-radius: 0px 4px 4px 0px;height: 44px;" class="btn btn-link"><span class="glyphicon glyphicon-plus"></span></a>
      </td>
    <tr>
    </table>
    </div>
    <p class="nextStep"><a ui-sref="drop">Next</a></p>
</div>

<script id="template/timepicker/timepicker.html" type="text/ng-template">
  <table class="timepicket">
  <tbody>
    <tr class="text-center">
      <td></td>
      <td>&nbsp;</td>
      <td></td>
      <td ng-show="showMeridian"></td>
    </tr>
    <tr class="text-center">
    <td class="form-group">
      <a ng-click="decrementHours()" class="btn btn-link hide"><span class="glyphicon glyphicon-chevron-minus"></span></a>
        <a ng-mousedown="decrementMinutes()" style="border-top: 1px solid #fff;border-left: 1px solid #fff;border-bottom: 1px solid #fff;border-radius: 4px 0px 0px 4px;height: 44px;" class="btn btn-link"><span class="glyphicon glyphicon-minus"></span></a>
    </td>
      <td style="width:71px;" class="form-group" ng-class="{'has-error': invalidHours}">
        <input type="text" style="border-radius: 0px;border-right: 0px;text-align:right" ng-model="hours" ng-change="updateHours()" class="form-control text-center timepicketbox" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
      </td>
      <td>
        <input type="text" class="timepicketbox form-control" value="." style="width: 6px;border-radius: 0px;border-left: 0px;border-right: 0px;padding: 0px;">
      </td>
      <td style="width:71px;" class="form-group" ng-class="{'has-error': invalidMinutes}">
        <input type="text" style="border-radius: 0px;border-left: 0px;text-align:left" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center timepicketbox" ng-readonly="readonlyInput" maxlength="2">
      </td>
      <td class="form-group">
        <a ng-click="incrementHours()" class="btn btn-link hide"><span class="glyphicon glyphicon-chevron-plus"></span></a>
        <a ng-click="incrementMinutes()" style="border-top: 1px solid #fff;border-right: 1px solid #fff;border-bottom: 1px solid #fff;border-radius: 0px 4px 4px 0px;height: 44px;" class="btn btn-link"><span class="glyphicon glyphicon-plus"></span></a>
      </td>
      <td ng-show="showMeridian"><button type="button" class="btn btn-default text-center" ng-click="toggleMeridian()">{{meridian}}</button></td>
    </tr>
    <tr class="text-center">
      <td></td>
      <td>&nbsp;</td>
      <td></td>
      <td ng-show="showMeridian"></td>
    </tr>
  </tbody>
</table>
</script>

<script id="template/datepicker/datepicker.html" type="text/ng-template">
  <div ng-switch="datepickerMode" role="application" ng-keydown="keydown($event)">
    <daypicker ng-switch-when="day" tabindex="0"></daypicker>
    <monthpicker ng-switch-when="month" tabindex="0"></monthpicker>
    <yearpicker ng-switch-when="year" tabindex="0"></yearpicker>
  </div>
</script>

<script id="template/datepicker/day.html" type="text/ng-template">
  <table role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
  <thead>
    <tr>
      <th><button type="button" class="btn btn-default btn-sm pull-left" ng-click="moveDat(-1)" tabindex="-1"><i class="glyphicon glyphicon-chevron-left"></i></button></th>
      <th colspan="{{5 + showWeeks}}"><button id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm" tabindex="-1" style="width:100%;"><strong>{{title}}</strong></button></th>
      <th><button type="button" class="btn btn-default btn-sm pull-right" ng-click="move(1)" tabindex="-1"><i class="glyphicon glyphicon-chevron-right"></i></button></th>
    </tr>
    <tr>
      <th ng-show="showWeeks" class="text-center"></th>
      <th ng-repeat="label in labels track by $index" class="text-center"><small aria-label="{{label.full}}">{{label.abbr}}</small></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows track by $index">
      <td ng-show="showWeeks" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></td>
      <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">
        <button type="button" style="width:100%;" class="btn btn-default btn-sm" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}">{{dt.label}}</span></button>
      </td>
    </tr>
  </tbody>
</table>
</script>