
html.light {
	
	@grayDarker: #fff;
	@greenYellow: rgba(86, 231, 128, 1);
	@grayLight: #cecece;
	@grayDark: #cecece;
	@blackLight: #fff;
	@blueGreen: #07b5b5;
	@grayLighter: #b3b3b3;
	@contextPath: "/";

	@thinParaph: 300;
	@box-shadow: 0px 0px 3px 0px rgb(102, 102, 102);
	@stepShadow: 0px 2px 6px -2px #666666;
	@borderGray: #b3b3b3;
	@border-separator: #E8E8E8;

	background: #F2F2F2;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	.alert-success-visual {
		background-color: #fff;
		border-color: #cecece;
		color: @grayLighter;
		font-weight: 600 !important;
	} 

	.if-handle {
		border-color: #444 !important;
	}

	.bar-active {
		border-color: @greenYellow;
		color: #fff;
	}

	@import (multiple) "./main.less";
}
