<div class="row" ng-if="candidates.length > 0">
	<div class="col-xs-12 filtersSwitch text-center" style="display:none">
		<div class="col-xs-6" ng-click="filtersOn=!filtersOn">Filter</div>
		<div class="col-xs-6">
			<span class="glyphicon glyphicon-align-justify menuOpen" bot="81"></span>
		</div>
	</div>
	<div class="col-md-6 col-xs-12 filters" ng-class="{'filtersOn': filtersOn}">
		<div class="col-md-4 col-xs-12 col-sm-6 text-center">
			<p>Price Range</p>
			<div class="minLabel">{{minPrice}} $</div>
			<div class="maxLabel">{{maxPrice}} $+</div>
			<slider floor="10" ceiling="60" ng-model-low="minPrice" ng-model-high="maxPrice"></slider>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-6 text-center">
			<p>Estimated Time of Arrive</p>
			<div class="minLabel">{{minTime}} min</div>
			<div class="maxLabel">{{maxTime}} min+</div>
			<slider floor="10" ceiling="60" ng-model-low="minTime" ng-model-high="maxTime"></slider>
		</div>
		<div class="col-md-4 col-xs-12 col-sm-12 text-center">
			<p>Rating</p>
			<p>
				<rating 
					ng-model="filterRate" 
					max="max" 
					readonly="isReadonly" 
					state-on="'star'"
					state-off="'star-gray'"
					ng-click="evaluateNoChange(filterRate)"
				></rating>
			</p>
		</div>
	</div>
</div>
<div class="row text-center">
	<div class="col-md-4 col-xs-12 col-sm-6 driverWrap entrace-eff" ng-click="open('sm', candidate)" ng-repeat="candidate in candidates | filter:timeFilter | filter:priceFilter | filter:starFilter">
		<div class="driverItem">
			<img ng-src="{{driver.img || './assets/imgs/cars/car.jpg'}}" alt="">
			<div>
				<span class="name">{{candidate.driver.name}}</span><br>
				<span class="model">{{candidate.vehicles[0].model}}</span>
				<div class="photo"><img ng-src="{{candidate.driver.logo_url_small || './assets/imgs/faces/30.jpg'}}" alt=""></div><br>
				<div class="stars">
					<rating 
						ng-model="driver.rate" 
						max="max" 
						readonly="isReadonly = true" 
						state-on="'star'"
						state-off="'star-gray'"
					></rating>
				</div>
				<span class="time">{{candidate.vehicles[0].quote.hours * 60}} min</span><br>
				<span class="price">$ {{candidate.vehicles[0].quote.total | number : 2}}</span>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-xs-12 col-sm-6">
		
	</div>
	<div class="col-md-4 col-xs-12 col-sm-6">
		
	</div>
</div>
<script type="text/ng-template" id="modalDriver.html">
        <div class="modal-header modalDriverPhoto">
            <img ng-src="{{candidate.driver.logo_url_small || './assets/imgs/faces/30.jpg'}}" alt="">
        </div>
        <div class="modal-body">
            <p class="nameDriverModal">{{candidate.driver.name}}</p>
            <p class="modelDriverModal">{{candidate.vehicles[0].model}}</p>
            <br>
            <p class="descDriverModal">{{candidate.desc || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'}}</p>
            <p class="rateDriverModal"><rating 
					ng-model="candidate.rate" 
					max="max = 5" 
					readonly="isReadonly = true" 
					state-on="'star'"
					state-off="'star-gray'"
				></rating></p>
        </div>
        <div class="modal-footer">
        	<p class="nextStep cancelBut" ng-click="cancel()"><a>Cancel</a></p>
            <p class="nextStep nextBut" ng-click="ok()"><a>Next</a></p>
        </div>
    </script>