<div class="stepWrapper medium text-center wrapMobile" ng-show="!map.active">
	<div class="row historySearch" style="padding: 20px 20px 6px;">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<div class="form-group">
			    <div class="input-group">
			      <div class="input-group-addon">
			      	<span class="glyphicon glyphicon-search"></span>
			      </div>
			      <input class="form-control timepicketbox" type="text" ng-model="searchText.$">
			    </div>
			  </div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 text-left" style="padding-top: 6px;padding-left: 0px;">
			<a href="#">Advanced</a>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 text-left" style="padding-top: 6px;"> 
			<span>Sort by <strong>{{sort.label}}</strong></span>
			<span class="glyphicon glyphicon-chevron-down" ng-click="manuAct = !manuAct">
				<div class="sortMenu" ng-show="manuAct">
					<p ng-repeat="sor in sorts" ng-click="sort = sorts[$index]">{{sor.label}}</p>
				</div>
			</span>
		</div>
	</div>

	<div class="row rowHis noBorder">
		<div class="col-md-12 col-sm-12 col-xs-12 text-left">
			<p>Active</p>
		</div>
	</div>

	<div ng-if="(bookingsOngoing|filter:searchText).length == 0 && (bookingsPending|filter:searchText).length == 0" class="row rowHis historyElement">
		<p class="error">No active bookings.</p>
	</div>
	<div class="row rowHis historyElement" ng-repeat="booking in bookingsOngoing | orderBy:'sort.value' | filter:searchText">
		<div class="col-md-6 col-sm-6 col-xs-6 text-left">
			<p class="route">{{booking.first_ride.route.from.location}}</p>
			<p class="route">{{booking.first_ride.route.to.location}}</p>
		</div>
		<div class="col-md-6 text-right">
			<p class="date">{{booking.created | getCustomDate}}</p>
			<p><small>$ </small>{{booking.total | number:2}}</p>
		</div>
	</div>

	<div class="row rowHis historyElement" ng-repeat="booking in bookingsPending | orderBy:'sort.value' | filter:searchText">
		<div class="col-md-6 col-sm-6 col-xs-6 text-left">
			<p class="route">{{booking.first_ride.route.from.location}}</p>
			<p class="route">{{booking.first_ride.route.to.location}}</p>
		</div>
		<div class="col-md-6 text-right">
			<p class="date">{{booking.created | getCustomDate}}</p>
			<p><small>$ </small>{{booking.total | number:2}}</p>
		</div>
	</div>

	<!-- ________________ -->

	<div class="row rowHis noBorder">
		<div class="col-md-12 col-sm-12 col-xs-12 text-left">
			<p>History</p>
		</div>
	</div>
	<div ng-if="(bookingsDone|filter:searchText).length == 0 && (bookingsDispatched|filter:searchText).length == 0 && (bookingsCancelled|filter:searchText).length == 0" class="row rowHis historyElement">
		<p class="error">Your booking history is empty.</p>
	</div>
	<div class="row rowHis historyElement" ng-repeat="booking in bookingsDone | orderBy:'sort.value' | filter:searchText">
		<div class="col-md-6 col-sm-6 col-xs-6 text-left">
			<p class="route">{{booking.first_ride.route.from.location}}</p>
			<p class="route">{{booking.first_ride.route.to.location}}</p>
		</div>
		<div class="col-md-6 text-right">
			<p class="date">{{booking.created | getCustomDate}}</p>
			<p><small>$ </small>{{booking.total | number:2}}</p>
		</div>
	</div>
	
	<div class="row rowHis historyElement" ng-repeat="booking in bookingsDispatched | orderBy:'sort.value' | filter:searchText">
		<div class="col-md-6 col-sm-6 col-xs-6 text-left">
			<p class="route">{{booking.first_ride.route.from.location}}</p>
			<p class="route">{{booking.first_ride.route.to.location}}</p>
		</div>
		<div class="col-md-6 text-right">
			<p class="date">{{booking.created | getCustomDate}}</p>
			<p><small>$ </small>{{booking.total | number:2}}</p>
		</div>
	</div>

	<div class="row rowHis historyElement" ng-repeat="booking in bookingsCancelled | orderBy:'sort.value' | filter:searchText">
		<div class="col-md-6 col-sm-6 col-xs-6 text-left">
			<p class="route">{{booking.first_ride.route.from.location}}</p>
			<p class="route">{{booking.first_ride.route.to.location}}</p>
		</div>
		<div class="col-md-6 text-right">
			<p class="date">{{booking.created | getCustomDate}}</p>
			<p><small>$ </small>{{booking.total | number:2}}</p>
		</div>
	</div>

</div>