<div class="stepWrapper medium text-center wrapMobile organizations" ng-show="!map.active">
	<div class="head">
		<div class="org-row">
			<div class="organization-name">Hilton Hotel</div>
			<a href="#" class="mini-but organization-button">Organization Managers</a>
		</div>
		<div class="bill-row">
			<div class="bill-label">
				Billing Adress <a href="#" class="mini-but">Edit</a>
			</div>
			<div class="card-label">
				Credit Card Limit <strong>1920</strong> $
			</div>
		</div>
		<div class="add-row">
			<div class="address3">
				<p>17 James Drive</p>
				<p>Brisbane</p>
				<p>112890 Queensland</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="teams">
		<div class="team" ng-mouseover="showButtons = true" ng-mouseout="showButtons = false" ng-repeat="a in as">
			<div class="title">
				<div class="name">
					SALES DEPARTMENT
				</div>
				<div ng-show="showButtons" class="buttons">
					<a href="#" class="mini-but">Add User</a>
					<a href="#" class="mini-but">Create Team</a>
				</div>
			</div>
			<div class="user" ng-repeat="user in a.child">
				<div class="info">
					<img src="assets/imgs/faces/47_min.png" alt="">
					<p class="normal-font">Ryan Clark</p>
					<p><a class="mini-but-nm" href="#">Booking List</a></p>
				</div>
				<div class="balance">Balance <span class="green-balance">85/260</span> $</div>
			</div>
		</div>
	</div>
</div>