<div class="stepWrapper payment small top-margin text-center wrapMobile" style="padding-top: 40px;">
	<p style="font-weight: bold">A nice sentence about how we are not going to be evil with your credit card.</p>
	<br>
	<div ng-hide="activeEdit">
		<p style="text-align: center; position: relative">
			<span class="aster">....</span>
			<span class="aster">....</span>
			<span class="aster">....</span>
			<span class="yello-green">{{genTok.number | cardMask}}</span>
		</p>
		<p style="text-align: center" class="yello-green">
			{{genTok['exp-month'] || '00'}}/{{genTok['exp-year'] || '00'}}
			<img src="http://shift-portal.appspot.com/assets/imgs/visa-icon.png" style="margin-left: 14px;width: 49px;" alt="">
		</p>
		<p class="nextStep" style="margin-bottom: 20px;">
			<a ng-click="setEdit(true, $event)">Edit Credit Card</a>
		</p>
	</div>
	<div ng-show="activeEdit">
		<form name="stripe" stripe:form="saveCustomer" novalidate>
			<div class="validation-error" ng-show="stripe.number.$dirty && stripe.number.$invalid">Invalid:
		      <span ng-show="stripe.number.$error.required">Card number.</span>
		    </div>

		    <div class="validation-error" ng-show="stripe.expmonth.$dirty && stripe.expmonth.$invalid">Invalid:
		      <span ng-show="stripe.expmonth.$error.required"> Expiration month.</span>
		    </div>

		    <div class="validation-error" ng-show="stripe.expyear.$dirty && stripe.expyear.$invalid">Invalid:
		      <span ng-show="stripe.expyear.$error.required"> Expiration year.</span>
		    </div>

		    <div class="validation-error" ng-show="stripe.cvc.$dirty && stripe.cvc.$invalid">Invalid:
		      <span ng-show="stripe.cvc.$error.required"> CVC.</span>
		    </div>

			<input name="number" required class="full" type="number" ng-model="genTok.number" placeholder="Credit Card Number">
			<input name="expmonth" required type="number" class="short middle" placeholder="MM" ng-model="genTok['exp-month']">
			<input name="expyear" required type="number" class="short middle spacing" placeholder="YY" ng-model="genTok['exp-year']">
			<input name="cvc" required type="number" class="middle fix" placeholder="CVC" ng-model="genTok.cvc">
			
				<div ng-click="defaultCard = !defaultCard" class="material-checkbox form-group">    
			    <input type="checkbox" ng-checked="defaultCard">  
			      
			    <label for="check-me">
			      <span></span>
			      <span class="check"></span>
			      <span class="box"></span>
			      Default card
			    </label>  
			      
			    <p></p>
			  </div>

			<p class="nextStep" style="margin-bottom: 20px;">
				<a ng-click="validate(stripe.$valid, $event);">Add Credit Card</a>
			</p>
		</form>
	</div>
</div>
<span class="glyphicon glyphicon-align-justify menuOpen menuMobile"></span>