<div class="stepWrapper small top-margin text-center wrapMobile" style="padding-top: 40px;">
	<p style="font-weight: bold">A nice sentence about how we are not going to be evil with your credit card.</p>
	<br>
	<!--<input clsas="full" type="text" placeholder="Credit Card Number">
	<input type="text" class="middle" placeholder="MM/YY">
	<input type="text" class="middle" placeholder="CVC">-->
	<p style="text-align: center; position: relative"><span class="aster">....</span><span class="aster">....</span><span class="aster">....</span> <span class="yello-green">5878</span></p>
	<p style="text-align: center" class="yello-green">04/15 
		<img src="http://shiftportal.s3-website-us-east-1.amazonaws.com/assets/imgs/visa-icon.png" style="margin-left: 14px;width: 49px;" alt=""></p>
	<p class="nextStep"><a ng-click="setAndGo(position)">Edit Card</a></p>
</div>