<div class="stepWrapper payment small top-margin text-center wrapMobile" style="padding-top: 40px;">
	<p style="font-weight: bold">A nice sentence about how we are not going to be evil with your credit card.</p>
	<br>
	<div ng-hide="activeEdit">
		<p style="text-align: center; position: relative">
			<span class="aster">....</span>
			<span class="aster">....</span>
			<span class="aster">....</span>
			<span class="yello-green">{{genTok.number | cardMask}}</span>
		</p>
		<p style="text-align: center" class="yello-green">
			04/15 
			<img src="http://shiftportal.s3-website-us-east-1.amazonaws.com/assets/imgs/visa-icon.png" style="margin-left: 14px;width: 49px;" alt="">
		</p>
		<p class="nextStep" style="margin-bottom: 20px;">
			<a ng-click="setEdit(true, $event)">Edit Credit Card</a>
		</p>
	</div>
	<div ng-show="activeEdit">
		<form stripe:form="saveCustomer">
			<input class="full" type="text" ng-model="genTok.number" placeholder="Credit Card Number">
			<input type="text" class="short middle" placeholder="MM" ng-model="genTok['exp-month']">
			<input type="text" class="short middle spacing" placeholder="YY" ng-model="genTok['exp-year']">
			<input type="text" class="middle fix" placeholder="CVC" ng-model="genTok.cvc">
			
				<div ng-click="defaultCard = !defaultCard" class="material-checkbox form-group">    
			    <input type="checkbox" ng-checked="defaultCard">  
			      
			    <label for="check-me">
			      <span></span>
			      <span class="check"></span>
			      <span class="box"></span>
			      Default card
			    </label>  
			      
			    <p></p>
			  </div>

			<p class="nextStep" style="margin-bottom: 20px;">
				<a ng-click="setEdit(false, $event)">Save</a>
			</p>
		</form>
	</div>
</div>
<span class="glyphicon glyphicon-align-justify menuOpen menuMobile"></span>